[Unit]
Description=LKQ Pick Your Part Inventory Checker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User="username"
WorkingDirectory=/home/"username"/LKQ-AlertScript

#          venv python installation directory                  main.py directory
ExecStart= /home/"username"/LKQ-AlertScript/.venv/bin/python   /home/"username"/LKQ-AlertScript/main.py

# Ensure print() output is immediately written to the logs
Environment=PYTHONUNBUFFERED=1

# Send stdout/stderr to the system journal
StandardOutput=journal
StandardError=journal

# Allow a reasonable amount of time before considering the service hung
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
